.image-container {
    position:relative;
    text-align: middle;
}

.image-container img {
    width: 100px;
    height: auto;
}

.text-block {
    position:left;
    bottom: 100px; /* Adjust as needed */
    left: 100px; /* Adjust as needed */
    color: black;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
}
